# Operating systems
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Editors and IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*~

# Logs and temporary files
*.log
*.tmp
*.temp

# Development dependencies
node_modules/
